<h1>Artist Form</h1>

<%= form_for @artist do |f| %>
  <%= f.label 'Artist Name' %>
  <%= f.text_field :name, id: 'artist[name]' %>

  <%= f.label 'Artist Bio' %>
  <%= f.text_area :bio, id: 'artist[bio]' %>

  <%= f.submit 'Update Artist' %>
<% end %>
