<h1>Edit Artist </h1>

<%=form_for(@artist) do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name, id: 'artist_name'%>
  <%=f.label :bio%>
  <%=f.text_field :bio, id: 'artist_bio'%>

  <%=f.submit %>

<%end%>  
