<h1>Edit Song</h1>
<%=form_for(@song) do |f|%>
  <%=label_tag 'name'%>
  <%=f.text_field :name%><br>
  <%=label_tag 'artist_id'%>
  <%=f.number_field :artist_id%><br>
  <%=label_tag 'genre_id'%>
  <%=f.number_field :genre_id%><br>
  <%=f.submit%>
<%end%>
