<%= form_for  @song do |f| %>
  <div>
    <%= f.label "Song name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "Song artist" %>
    <%= f.text_field :artist_id %>
  </div>
  <div>
    <%= f.label "Song genre" %>
    <%= f.text_field :genre_id %>
  </div>

  <div>
    <%= f.submit %>

  </div>

<% end %>
